@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nerko+One&display=swap');

.nav-bar {
  width: calc(100% - 80px);
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 0 0 5rem;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 2000;
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 200px;
  margin-right: 1.5rem;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-bar ul li {
  padding: .7rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
}

.nav-bar ul li:hover {
  box-shadow: 2.5px 2.5px 0 rgba(0, 0, 0, 0.5);
  transform: translate(-2px, -2px);
  border: 1px solid black;
  background-color: #e9a004;
}

.nav-bar ul li:first-child:hover ~ li:not(:first-child) {
  transform: translateX(-2px);
  transition: none;
}

.search-area {
  border: 1px solid black;
  border-radius: 3px;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  position: absolute;
  right: 5rem;
  padding: 0 .2rem 0 0;
}

.search-area input {
  width: 100%;
  border: none;
  padding: 0rem 0rem 0rem .6rem;
  background-color: transparent;
  font-family: 'Josepin Sans', sans-serif;
}

.search-area input:focus {
  outline: none;
}

.search-area button {
  width: 60px;
  padding: .4rem .2rem;
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  font-family: 'Josepin Sans', sans-serif;
}

.search-area button:hover {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
  transform: translate(-2px, -2px);
  background-color: #e9a004;
}

.menu-icon {
  position: absolute;
  top: 20px;
  right: 5rem;
  display: none;
}

input[id='menuicon'] {
  display: none;
}

input[id='menuicon'] + label {
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

input[id='menuicon'] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: #797979;
  transition: all .35s;
}

input[id='menuicon'] + label span:nth-child(1) {
  top: 0;
}

input[id='menuicon'] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

input[id='menuicon'] + label span:nth-child(3) {
  bottom: 0;
}

input[id='menuicon']:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

input[id='menuicon']:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id='menuicon']:checked + label span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.side-bar {
  width: 300px;
  height: calc(100% - 70px);
  background-color: #e9a004;
  position: fixed;
  top: 70px;
  right: -300px;
  z-index: 1;
  transition: all .35s;
}

input[id='menuicon']:checked + label + .side-bar {
  right: 0;
}

@media screen and (max-width: 950px) {
  .nav-bar {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: white;
  }

  .nav-bar ul {
    display: none;
  }

  .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2000;
  }

  .side-bar ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
    padding-left: 0;
    margin-top: 1.7rem;
  }

  .nav-bar ul li:hover {
    background: #fff;
  }

  .search-area {
    display: none;
  }

  .search-area-sm {
    border: 1px solid black;
    border-radius: 3px;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .2rem 0 0;
    margin-top: 1.5rem;
    background-color: #fff;
  }

  .search-area-sm input {
    width: 100%;
    border: none;
    padding: 0rem 0rem 0rem .6rem;
    background-color: transparent;
    font-family: 'Josepin Sans', sans-serif;
  }
  
  .search-area-sm input:focus {
    outline: none;
  }

  .search-area-sm button {
    width: 60px;
    padding: .4rem .2rem;
    font-size: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
    font-family: 'Josepin Sans', sans-serif;
  }
  
  .search-area-sm button:hover {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
    transform: translate(-2px, -2px);
    background-color: #e9a004;
  }

  .menu-icon {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar {
    width: calc(100% - 32px);
    padding: 0 0 0 2rem;
  }

  .menu-icon {
    right: 2rem;
  }
}